{% extends "base.html" %}

{% block text %}
    <p style="text-indent: 15px;"> </p>
    <form method="POST">
        <h3>Medical Expense Calculator</h3>

        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" class="form-control" id="age" name="age" required>
        </div>

        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" name="gender" size = "2" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <div class="form-group">
            <label for="medical_condition">Medical Condition</label>
            <select class="form-control" id="medical_condition" name="medical_condition" size = "5" required>
                <option value="asthma">Asthma</option>
                <option value="cancer">Cancer</option>
                <option value="diabetes">Diabetes</option>
                <option value="hypertension">Hypertension</option>
                <option value="obesity">Obesity</option>
            </select>
        </div>

        <div class="form-group">
            <label for="insurance">Insurance Provider</label>
            <select class="form-control" id="insurance" name="insurance" size = "4" required>
                <option value="Blue Cross">Blue Cross</option>
                <option value="Cigna">Cigna</option>
                <option value="Medicare">Medicare</option>
                <option value="UnitedHealthcare">UnitedHealthcare</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Calculate</button>
    </form>

    {% if predicted_cost is not none %}
        </br>

        <div class="card">
        <div class="p-3 mb-2 bg-dark text-light">

            <div class="card-body">

          
              <h5 class="card-title">Predicted Medical Cost:</h5>
          
              <p class="card-text">{{ predicted_cost | round(2) }}</p>
          
            </div>
          
        </div>
        </div>
    {% endif %}


    {% if historyItem is not none %}
        <div class="card">
            <div class="p-3 mb-2 bg-light text-dark">
    
                <div class="card-body">
    
              
                  <p class="card-title">History:</p>

                  {% for item in historyItem %}
                    <div class="card-text">
                        <p>{{item}}</p>
                    </div>
                  {% endfor %}</p>

              
                </div>
              
            </div>
            </div>
    


    {% endif %}
{% endblock %}
