{% extends "base.html" %}

{%block text%}
    <br />
    <body>
        <p>Data Set Used To Train The Program:</p>
        <a href = https://www.kaggle.com/datasets/joebeachcapital/medical-insurance-costs>
            Kaggle Data Tables</a>
        <p style="text-indent: 15px;"> </p>
        <p>GitHub:</p>
        <a href = https://github.com/Leviathynn/DBMS2024_MedicalSystem>
            Medical Analysis System GitHub</a>
        <p style="text-indent: 15px;"> </p>
        <p>Overleaf:</p>
        <a href = https://www.overleaf.com/project/66ec82806dc5335ed6941d12>
            IEEE Format Document for Project</a>

    </body>
{% endblock %}